.contact{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 250px;
    margin-bottom: 200px;
}

.contact_icon{
    color: #fe696a !important;
    margin-bottom: 20px;

}

.contact_info{
    text-align: center;
    height: 196px;
    margin-bottom: 50px;
}



