.header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #153144;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 150px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 0px;
  margin-left: 30px;
}

.header_search {
  margin-left: 60px;
  margin-right: 100px;
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 40px;
  height: 40px;
  background: white;
}

.header_searchInput {
  border: none;
  width: 100%;
  background: none;
  outline: none;
  padding: 20px;
  color: black;
  font-size: 16px;
}

.header_searchIcon {
  height: 40px;
  width: 40px;
  float: right;
  border-radius: 50%;
  color: #a86c1c;
  background-color: white;
  margin-right: 20px  ;
}

.header_optionLineOne {
  font-size: 13px;
  text-decoration: none;
}

.header_optionLineTwo {
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 20px;
}

.header_basketCount {
  margin-right: 10px;
  margin-left: 10px;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

#hidden {
  display: flex;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  padding-right: 20px;
  text-decoration: none;
}

.header button {
  display: none;
}

.header button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .header_option {
    padding-right: 10px;
  }

  .header_optionBasket {
    padding-right: 5px;
  }

  .header_search {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .header_nav {
    display: none;
  }

  .header button {
    display: flex;
    margin-right: 20px;
    transition: all 1s;
  }

  #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 230px;
    max-height: 230px;
    width: 100%;
    background-color: #153144;
    display: flex;
    flex-direction: column;
    text-align: right;
    right: 20px;
  }
}
